<!DOCTYPE html>
<html>
<head>
  <title>Odin Kittens</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <% flash.each do |key, msg| %>
    <p><strong><%= key.capitalize %>:</strong> <%= msg %></p>
  <% end %>
  <%= yield %>
</body>
</html>
